.first{
  border-bottom: 2px dashed blue;
}
.title{
  color: white;
  text-align: right;
  background-color: #1D2475;
}
.sub{
  color: #CCCCCC;
  font-size: 14pt;
}
h1,h2{
  font-weight: bold;
}
.all{
  border: 10px solid white;
  background-color: white;
}
.text{
  margin-top: 10px;
  margin-left: 170px;
  padding: 5px;  border: 5px solid blue;
  background-color: #99CCFF;
  overflow: hidden;
  border-radius: 15px;
}
body{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-image: url(https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg);
}
.img{
  float: right;
}
.list{
  margin: 5px;
  padding: 5px;
  border: 5px solid blue;
  border-radius: 15px;
  width: 140px;
  background-color: #3366CC;
  color: #CCCCCC;
  float: left;
}
.text:hover{
  background-color: #A6CE39;
}
